* {
  box-sizing: border-box;
  font-family: "Baloo Tamma 2", cursive; }

.navegation {
  background: #684B70;
  padding: 1.4em;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center; }
  .navegation a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  background: #E1A2F2;
  margin-top: 1em;
  border-radius: 1em 1em 0 0; }
  header .game-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: -3em;
    padding: 0 1em 0.2em 1em;
    font-size: 1rem;
    font-weight: 500; }
  header .my-links {
    width: 100%;
    padding: 0 5rem 1rem 5rem;
    margin-top: -2rem; }
    header .my-links a {
      display: block;
      border-radius: 3px;
      font-size: 2.5em; }
    header .my-links .itch {
      color: #dd5143; }
    header .my-links .github {
      color: #4078c0; }
    header .my-links .game-summary {
      font-weight: 500;
      font-size: 2rem; }
  header .banner {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 19em;
    max-height: 25em;
    overflow: hidden;
    text-align: center;
    display: flex;
    border-radius: 1em 1em 0 0;
    margin-top: 1.2em; }
    header .banner img {
      width: 100%; }
    header .banner .my-name {
      font-size: 2vw;
      margin: auto;
      color: #fff;
      background: rgba(55, 82, 143, 0.5);
      width: 100%;
      line-height: 0.9em; }
      header .banner .my-name h2 {
        font-size: 2rem; }
      header .banner .my-name h1 {
        font-size: 3rem; }
  header .photo {
    width: 100%;
    text-align: center;
    margin-top: -5rem; }
    header .photo img {
      padding: 0 0 0 2px;
      margin: auto;
      border-radius: 50px;
      border: 3px solid rgba(0, 0, 0, 0.8);
      background: #fff; }

body {
  background: url("../mk7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  body .main-container {
    background: #fff;
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 4em;
    border-radius: 7em 7em 0 0; }

.main-games {
  padding: 1em 5em 2em 5em;
  width: 100%;
  background: #F0E9F2; }
  .main-games h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2rem; }

.game {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .game .game-left {
    width: 59%; }
    .game .game-left p {
      font-size: 1.2rem; }
    .game .game-left div {
      width: 100%;
      text-align: center; }
    .game .game-left a {
      text-decoration: none;
      background: #E1A2F2;
      padding: 1em 2em 1em 2em;
      border-radius: 1em;
      font-weight: 600;
      color: #000;
      display: inline-block; }
  .game iframe {
    width: 39%; }
  .game .bold {
    font-weight: 700;
    color: #684B70; }
  .game hr {
    margin-top: 2rem;
    border-top: 1px solid rgba(104, 75, 112, 0.2);
    width: 95%; }

.in-developement {
  padding: 1em 5em 2em 5em;
  width: 100%;
  background: #FFF; }
  .in-developement h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2rem; }
  .in-developement .game-left a {
    background: none;
    padding: 0;
    display: block;
    border-radius: 3px;
    font-size: 2.5rem; }
  .in-developement .game-left .itch {
    color: #dd5143; }
  .in-developement img {
    width: 39%;
    border-radius: 1rem; }

.game-jams {
  padding: 1em 5em 2em 5em;
  width: 100%;
  background: #F0E9F2; }
  .game-jams h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 2rem; }
  .game-jams .game-left a {
    background: none;
    padding: 0;
    display: block;
    border-radius: 3px;
    font-size: 2.5rem; }
  .game-jams .game-left .itch {
    color: #dd5143; }
  .game-jams img {
    width: 39%;
    border-radius: 1rem; }
  .game-jams iframe {
    width: 39%;
    height: 15rem; }

.game-about {
  display: flex;
  padding: 0 5em 1em 5em;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1em; }
  .game-about h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center; }
  .game-about a {
    display: block;
    border-radius: 3px;
    font-size: 2.5rem; }
  .game-about .itch {
    color: #dd5143; }
  .game-about .github {
    color: #4078c0; }
  .game-about .game-summary {
    font-weight: 500;
    font-size: 1.5rem; }
  .game-about .links a {
    display: inline; }

.other-projects {
  width: 100%;
  text-align: center; }

.column-container {
  display: flex;
  padding: 0 5em 1em 5em;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 1em; }
  .column-container h2 {
    width: 100%; }
  .column-container .other-column {
    display: flex;
    padding: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    width: 30%;
    align-items: center; }
    .column-container .other-column .game-resume {
      width: 65%; }
      .column-container .other-column .game-resume a {
        background: none;
        padding: 0;
        display: block;
        border-radius: 3px;
        font-size: 2.5rem; }
      .column-container .other-column .game-resume .itch {
        color: #dd5143; }
    .column-container .other-column .game-logo {
      width: 30%; }
      .column-container .other-column .game-logo img {
        width: 100%;
        border-radius: 0.7rem; }

footer {
  width: 100%;
  background: #684B70;
  padding: 0;
  position: fixed;
  bottom: 0; }
  footer .social-media {
    background: #684B70;
    padding: 0;
    height: 4rem; }
    footer .social-media a {
      color: #fff;
      text-align: center;
      width: 10rem;
      display: block;
      padding: 0.2rem;
      border-radius: 0.2rem;
      font-size: 1.5rem;
      margin: 0 1rem; }
    footer .social-media .twitter:hover {
      background: #1da1f2; }
    footer .social-media .github:hover {
      background: #4078c0; }
    footer .social-media .linkedin:hover {
      background: #0077b5; }
    footer .social-media .itch:hover {
      background: #dd5143; }
  footer .container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center; }

@media screen and (max-width: 800px) {
  body .main-container {
    width: 100%; }

  header .banner {
    border-radius: 0; } }
@media screen and (max-width: 1200px) {
  header .photo {
    width: 100%;
    text-align: center;
    margin-top: -4em; }
    header .photo img {
      padding: 0 0 0 2px;
      margin: auto;
      border-radius: 50px;
      border: 3px solid rgba(0, 0, 0, 0.8);
      background: #fff;
      width: 5em;
      height: 5em; }
  header .game-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    padding: 0 1em 0.2em 1em;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center; } }
@media screen and (max-width: 1000px) {
  header {
    margin-top: 2em; }
    header .photo img {
      width: 5em;
      height: 5em; }
    header .banner .my-name h1 {
      font-size: 3rem; }
    header .banner .my-name h2 {
      font-size: 2rem; }

  .game {
    margin-bottom: 0.5rem; }
    .game .game-left {
      width: 98%;
      text-align: justify; }
      .game .game-left div {
        width: 100%;
        text-align: center;
        margin-bottom: 1em; }
    .game iframe {
      width: 100%;
      height: 16em;
      margin: auto; }
    .game img {
      width: 100%;
      margin: auto; }
    .game hr {
      margin-top: 1rem; }

  body .main-container {
    width: 100%; }
  body .game-about {
    padding: 0 1em 1em 1em;
    text-align: justify; }
  body .main-games {
    padding: 0 1em 1em 1em;
    text-align: justify; }
  body .in-developement {
    padding: 0 1em 1em 1em;
    text-align: justify; }
  body .game-jams {
    padding: 0 1em 1em 1em;
    text-align: justify; }
  body .column-container {
    padding: 0 1em 1em 1em;
    text-align: justify;
    flex-wrap: wrap;
    margin: auto; }
    body .column-container .other-column {
      width: 100%;
      padding: 0 5rem 0 5rem;
      text-align: center; } }

/*# sourceMappingURL=index.css.map */
