*{
	-box-sizing: border-box;
}

body{
	background: #fff;
	font-family: 'Baloo Tamma 2', cursive;
}

.container{
	width: 90%;
	max-width: 1000px;
	margin:auto;
	overflow: hidden;
}

/* HEADER */

header{
	background: url('../header.jpg') #272264;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 400px;
}

header .menu{
	margin: 40px 0;
	text-align: right;
}

header .menu a{
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	font-size: 1em;
}

header .menu a:hover{
	border-bottom: 2px solid #fff;
}

header .text-container{
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 60px 0;
}

header .text-container .text{
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .text-container .text h1,
header .text-container .text h2{
	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .text-container .text .my-name{
	margin-bottom: 10px;
	font-size: 50px;
	line-height: 50px;
}

header .text-container .text .profession{
	font-size: 25px;
	line-height: 25px;
}

/* MAIN */

.main .container{
	overflow: visible;
}

.main .about{
	text-align: center;
}

.main .about .photo{
	margin-top: -60px;
}

.main .about .photo img{
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
}

.main .about .text{
	color: #272264;
	font-weight: 600;
	font-size: 1em;
	line-height: 30px;
	width: 80%;
	margin: 40px auto 60px auto;
}

.main .about .text .title{
	font-size: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #F0BA6A;
	text-align: center;
}

.main .about .text .bold{
	color: #37528F;
}

.main .games{
	background: #f2f2f2;
	padding:  60px 0;
}

.main .games .container{
	overflow: hidden;
}

.main .games .title{
	font-size: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #F0BA6A;
	text-align: center;
}

.main .games .games-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main .games .games-container .games-category{
	width: 30%;
}

.main .games .games-container .games-category .title{
	font-size: 27px;
}

.main .games .games-container .games-category .games-category-row{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main .games .games-container .game{
	width: 40%;
	margin-bottom: 40px;
}

.main .games .games-container .game .thumb{
	width: 100%;
	margin-bottom: 10px;
}

.main .games .games-container .game .thumb img{
	width: 100%;
	vertical-align: top;
	border-radius: 3px;
}

.main .games .games-container .game .description{
	text-align: center;
}

.main .games .games-container .game .description .name{
	font-weight: 700;
	color: #37528F;
	margin-bottom: 10px;
}

footer .social-media{
	background: #37528F;
	padding: 60px 0;
}

footer .container{
	display: flex;
	justify-content: center;
}

footer .social-media a{
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 20px;
}

footer .social-media .twitter:hover{
	background: #1da1f2;
}

footer .social-media .github:hover{
	background: #4078c0;
}

footer .social-media .linkedin:hover{
	background: #0077b5;
}

footer .social-media .itch:hover{
	background: #dd5143;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px){
	header .menu{
		text-align: center;
	}

	.main .games .games-container .game{
		width: 46%;
	}
}

@media screen and (max-width: 500px){
	header .text-container .text .my-name{
		font-size: 35px;
	}
	
	header .text-container .text .profession{
		font-size: 35px;
	}

	footer .social-media .container{
		flex-wrap: wrap;
		padding: 20px;
	}

}